.home-banner {
  background: 
    url('../assets/image/main-banner/logo.png') no-repeat right center,
    linear-gradient(78deg, #e46314 26%, #ffa729 96%);
  display: flex;
  justify-content: center;
}

.home-banner img {
  max-width: 100%;
  height: auto;
}
.home-offer {
  padding-top: 48px;
  padding-bottom: 144px;
}
.home-offer-content {
  display: flex; 
}
.home-offer-text {
  flex: 1;
}
.home-offer-text p {
  font-family: var(--font-inter-tight);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.36px;
  color: #353332;
  margin-bottom: 12px;
}
.home-offer-text h2 {
  font-family: var(--font-tilda);
  font-size: 72px;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -1.44px;
  text-align: left;
  color: #050200;
}
.home-offer-text h2 span {
  color: #eb7300;
}

.home-offer-text h2 img {
  margin: 3px 0px 0 11px;
}
.home-offer-blocks {
  display: grid;
  grid-template-columns: repeat(2, 511px);
  gap: 16px;
}
.home-blocks-item {
  padding: 12px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 24px;
}
.home-blocks-text {
  font-family: var(--font-inter-tight);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.48px;
  text-align: left;
  color: #050200;
}
.home-blocks-image {
  border-radius: 8px;
  background-color: rgba(248, 127, 7, 0.15);
  display: flex;
  width: 114px;
  height: 114px;
  justify-content: center;
  align-items: center;
}