.services-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.services-top h1 {
  font-family: var(--font-tilda);
  font-size: 72px;
  font-weight: 600;

  line-height: 0.9;
  letter-spacing: -1.44px;
  text-align: left;
  color: #050200;
}
.services-top p {
  max-width: 610px;
  font-family: var(--font-inter-tight);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.36px;
  text-align: left;
  color: #353332;
}
.service-offer {
  font-family: var(--font-tilda);
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -1.12px;
  text-align: left;
  color: #050200;
  padding: 144px 0;
}
.service-offer span {
  color: #eb7300;
}

.service-offer img {
  height: 48px;
  margin-left: 8px;
}